@import "tailwindcss";
:root {
  --gt-blue: #0B3A63;
  --gt-blue-dark: #072844;
  --gt-yellow: #F4B400;
  --gt-light: #F8FAFC;
  --gt-gray: #64748B;
}

.bg-gt-blue {
  background-color: var(--gt-blue);
}

.bg-gt-dark {
  background-color: var(--gt-blue-dark);
}

.text-gt-blue {
  color: var(--gt-blue);
}

.text-gt-yellow {
  color: var(--gt-yellow);
}

.bg-gt-yellow {
  background-color: var(--gt-yellow);
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
